aiofiles==24.1.0
boto3==1.24.84
botocore-stubs==1.27.86
dill==0.3.5.1
dnspython==2.2.1
evidently==0.4.7
fastapi==0.116.0
from-root==1.0.2
httptools==0.5.0
imbalanced-learn==0.10.1
jinja2==3.1.3
matplotlib==3.5.3
mypy-boto3-s3==1.24.76
nltk==3.7
numpy==1.24.4
pandas==1.5.3
pip-chill==1.0.1
pydantic==1.10.13
pymongo==4.2.0
python-dotenv==0.21.0
python-multipart==0.0.6
PyYAML>=6.0

scikit-learn==1.2.2
seaborn==0.12.2
statsmodels==0.14.5
types-s3transfer==0.6.0.post4
uvicorn==0.29.0
watchfiles==0.17.0
websockets==10.3
Werkzeug==2.0.3
wincertstore==0.2
xgboost==1.6.2
neuro_mf==0.0.5
-e .